In [6]:
import pandas as od
path="C:\\Users\\Kumar R\\OneDrive\\Documents\\Downloads\\Coimbatore.csv"
data=od.read_csv(path)
print(data)
print(data.info())

data = data.fillna(method='ffill')


print(data['State_Name'].unique())
print(data['State_Name'].nunique())
data['State_Name']=data['State_Name'].map({'Tamil Nadu':1})
print(data['ind_district'].unique())
print(data['ind_district'].nunique())
data['ind_district']=data['ind_district'].map({'coimbatore':0})
#print(data)

inputs=data.drop('X4','columns')
output=data['X4']
print(inputs)
print(output)

import sklearn
from sklearn import linear_model
model=linear_model.LinearRegression()
model.fit(inputs,output)

#y=m1*x1+m2*x2*+m3*x3+b

State_Name=int(input("enter the State_Name"))
ind_district=int(input("enter the ind_district "))
x2=int(input("enter the x2"))
y=int(input("enter the y"))
x1=int(input("enter the x1"))
x3=int(input("enter the x3"))
print(model.predict([[State_Name,ind_district,x2,y,x1,x3]]))

coef=model.coef_
print(coef)

intercept=model.intercept_
print(intercept)

you=coef*15034+intercept
print(you)

C:\Users\Kumar R\AppData\Local\Temp\ipykernel_20468\3217096180.py:18: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop('X4','columns')

    State_Name ind_district     X2      Y     X1        X3        X4
0   Tamil Nadu   coimbatore  15034  51575  57670  3111.455  2502.734
1   Tamil Nadu   coimbatore  16875  60494  51575  2177.803  3111.455
2   Tamil Nadu   coimbatore  12170  47066  60494  2351.395  2177.803
3   Tamil Nadu   coimbatore  10548  37200  47066  2308.308  2351.395
4   Tamil Nadu   coimbatore   6577  22152  37200  1838.713  2308.308
5   Tamil Nadu   coimbatore   3654  10643  22152       NaN       NaN
6   Tamil Nadu   coimbatore   7239  24454  10643       NaN       NaN
7   Tamil Nadu   coimbatore   7406  20665  24454  1004.600   714.000
8   Tamil Nadu   coimbatore   6221  24009  20665   765.600  1004.600
9   Tamil Nadu   coimbatore   6479  24456  24009   722.300   765.600
10  Tamil Nadu   coimbatore   2573  25437  24456  1234.400   722.300
11  Tamil Nadu   coimbatore   2817   9884  25437  1230.100  1234.400
12  Tamil Nadu   coimbatore   2666  10419   9884   731.400  1230.100
13  Tamil Nadu   coimbatore   2629  10486  10419       NaN   731.400
14  Tamil Nadu   coimbatore   2156   7890  10486       NaN       NaN
15  Tamil Nadu   coimbatore   2158  10139   7890       NaN       NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State_Name    16 non-null     object
 1   ind_district  16 non-null     object
 2   X2            16 non-null     int64
 3   Y             16 non-null     int64
 4   X1            16 non-null     int64
 5   X3            11 non-null     float64
 6   X4            12 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.0+ KB
None
['Tamil Nadu']
1
['coimbatore']
1
    State_Name  ind_district     X2      Y     X1        X3
0            1             0  15034  51575  57670  3111.455
1            1             0  16875  60494  51575  2177.803
2            1             0  12170  47066  60494  2351.395
3            1             0  10548  37200  47066  2308.308
4            1             0   6577  22152  37200  1838.713
5            1             0   3654  10643  22152  1838.713
6            1             0   7239  24454  10643  1838.713
7            1             0   7406  20665  24454  1004.600
8            1             0   6221  24009  20665   765.600
9            1             0   6479  24456  24009   722.300
10           1             0   2573  25437  24456  1234.400
11           1             0   2817   9884  25437  1230.100
12           1             0   2666  10419   9884   731.400
13           1             0   2629  10486  10419   731.400
14           1             0   2156   7890  10486   731.400
15           1             0   2158  10139   7890   731.400
0     2502.734
1     3111.455
2     2177.803
3     2351.395
4     2308.308
5     2308.308
6     2308.308
7      714.000
8     1004.600
9      765.600
10     722.300
11    1234.400
12    1230.100
13     731.400
14     731.400
15     731.400
Name: X4, dtype: float64
enter the State_Name1
enter the ind_district 0
enter the x22158
enter the y10139
enter the x17890
enter the x3731
[875.81638185]
[ 0.00000000e+00  1.49880108e-15  1.11022668e-01 -1.58280281e-02
 -1.61954873e-02  1.00602606e+00]
189.08719036000775
[  189.08719036   189.08719036  1858.20197749   -48.87138474
   -54.39576597 15313.68291202]

C:\Users\Kumar R\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(